<app-navbar></app-navbar>


<img src="assets/images/change_password.png" alt="">

<form [formGroup]="passwordResetFormGroup" (ngSubmit)="resetPassword()">
  <div class="form-wrapper">
    <mat-form-field appearance="outline">
      <mat-label>Old Password</mat-label>
      <input required matInput [type]="old_password_hide ? 'password' : 'text'" placeholder="Enter your old password" formControlName="old_password">
      <mat-icon matSuffix (click)="old_password_hide = !old_password_hide">{{old_password_hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="passwordResetFormGroup.hasError('required', 'old_password')">Please enter your old password</mat-error>
      <mat-hint>Type your old password</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>New Password</mat-label>
      <input required matInput [type]="new_password_hide ? 'password' : 'text'" placeholder="Enter your new password" formControlName="new_password">
      <mat-icon matSuffix (click)="new_password_hide = !new_password_hide">{{new_password_hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="passwordResetFormGroup.hasError('required', 'new_password')">Please enter your new password</mat-error>
      <mat-hint>Type your new password</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Confirm New Password</mat-label>
      <input matInput [type]="confirm_password_hide ? 'password' : 'text'" placeholder="Retype your new password" formControlName="confirm_new_password"
             [errorStateMatcher]="matcher">
      <mat-icon matSuffix (click)="confirm_password_hide = !confirm_password_hide">{{confirm_password_hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="passwordResetFormGroup.hasError('notSame')">Passwords do not match</mat-error>
      <mat-hint>Retype your new password</mat-hint>
    </mat-form-field>
  </div>
  <div class="button-wrapper">
    <button mat-raised-button type="submit">Change Password</button>
  </div>
</form>
