@import "../../../../_variables.scss";

div.mat-dialog-content {
  text-align: center;

}

div.mat-dialog-actions {
  justify-content: center;
}

.yes-btn{
  background-color: #c5c5c5;
}

.no-btn{
  background-color: #c5c5c5;
}
