$white: white;
$black: #000000;
$light-gray: #D3D3D3;
$gray: gray;
$yellow: #d7df59;
$light-blue:#5c98b2;
$red-primary: #8e1631;

$mhp-royal-blue: #000898;
$mhp-green: #78bb54;
$mhp-cyan: #8dcae3;
$mhp-blue: #009ed0;
$mhp-yellow: #fdc100;

// heights and widths:
$title-size: 30px;
$title-size: 30px;
